* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-050: #ff0202;
    --secondary-050: #25201f; 
    --secondary-060: #1f2324;
    --dark-087: rgba(0,0,0,0.87);
    --dark-054: rgba(0,0,0,0.54);
    --dark-026: rgba(0,0,0,0.26);
    --dark-012: rgba(0,0,0,0.12);
    --light-100: rgba(255,255,255,1.00);
    --light-070: rgba(255,255,255,0.70);
    --light-030: rgba(255,255,255,0.30);
    --light-012: rgba(255,255,255,0.12);
    --gray-010: #b6b0b0;
    --gray-020: #e4e4e4;

    font-feature-settings: "palt";
    font-size: 10pt;
}

.global-nav h1 {
    font-size: 1.5rem;
   font-family: monospace;
    margin-left: 1rem;

    color: #25201f;
    text-shadow: 1px 1px 0 var(--dark-026);
}



.global-nav{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 2px 1rem var(--dark-026);
}

.global-nav .menu ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.global-nav .menu ul a{
    color: var(--primary-050);
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 1.2rem;
    padding: calc(1.2rem - 4px)2rem;
    transition: color,background-color 0.3s;
    border-right: 1px solid var(--dark-012);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.global-nav .menu ul li:last-child a{
    border-right: none;
}
.global-nav .menu ul a:hover{
    background-color: var(--primary-050);
    color: var(--secondary-050);
    border-bottom: 4px solid var(--secondary-050);
}

#sec1 {
    background-image: url("haikeia.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: monospace;
   font-size: 9rem;
   color: #ff0202;
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

#sec2 {
    background-color: rgba(234, 240, 193, 0.788);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#sec3 {
  padding: 0rem 0rem 5rem 0rem;
    display: flex;
    justify-content: center;
    background-color: rgba(234, 240, 193, 0.788);
}

.profile-title {
  font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 4.7rem;
  padding: 0rem 0rem 0rem 25rem;
  font-weight: 900;
  background-color: rgba(234, 240, 193, 0.788);
}

.profile-photo img {
  margin: 1rem 3rem 1rem 5rem ;
  display: block; 
  border-radius: 50%;
}

.profile-text {
  margin: 1.5rem;
  
}

.profile-text h3 {
  font-size: 3rem;
  margin: 0rem 0rem 1rem 0rem;
}

.profile-text p {
  font-size: 1.5rem;
  margin: 0rem 3rem;
}

.profile-text p2 {
  font-size: 1.5rem;
  margin: 0rem 3rem;
}

.profile-text a:hover {
  color: red;
  
}



  #gallery {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    max-width: 800px; 
    margin: 0 auto;
    display: flex;    
    flex-flow: wrap;  
  }


  #gallery dl {
    flex: 200px;    
    float: left;    
    width: 600px;   
    margin-right: 5px;
    margin-bottom: 1em;
    padding: 0;
    font-size: 16px;
    background-color:var(--secondary-060) ;
    border:2px solid rgb(2, 2, 2);
    text-align: center;  
    box-sizing: border-box;
  }

  #gallery:after { 
    content: "";
    flex: 200px;
    margin-right: 5px;
    display: block;
  }

  #gallery dl img {
    border: 0;
    width: 100%;
    height: auto;
  }

  #gallery dt {
    margin: 0;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }

  #gallery dd {
    margin: 0;
    padding: 0;
  }

  #gallery dd.comment {
    height: 5em;  
    padding: 2px 5px;
    line-height: 1.3;
    text-align: left;
    color: rgb(248, 245, 245);
  }




